@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px dotted black;
} */

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.small-to-big {
  animation: smallToBig 0.3s ease-in-out forwards;
}

@keyframes smallToBig {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.background-zoom-out {
  animation: backgroundZoomOut 0.5s ease-in-out forwards;
  background-position: center;

  @media screen and (max-width: 768px) {
    animation: backgroundZoomOutMobile 0.5s ease-in-out forwards;
    background-size: cover;
  }
}

@keyframes backgroundZoomOut {
  from {
    background-size: 300%;
  }
  to {
    background-size: 100%;
  }
}

@keyframes backgroundZoomOutMobile {
  from {
    background-position: center;
  }
  to {
    background-position: 100% 100%;
  }
}

.left-to-center {
  animation: leftToCenter 0.5s ease-in-out forwards;
}

@keyframes leftToCenter {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.right-to-center {
  animation: rightToCenter 0.5s ease-in-out forwards;
}

@keyframes rightToCenter {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.carousel-auto-play {
  animation: carouselAutoPlay 12s infinite linear;

  /* &:hover {
    animation-play-state: paused;
  } */
}

@keyframes carouselAutoPlay {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.modal-show {
  animation: backdropBlur 0.5s forwards;
}

@keyframes backdropBlur {
  from {
    backdrop-filter: blur(0);
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    backdrop-filter: blur(12px);
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.opacity-show {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
